# ~/.config/river/rrwm.toml

[input.keyboard]
layout = "us"
variant = "colemak" # 默认qwerty
# options = "caps:swapescape" # 支持多个选项，用英文逗号隔开
model = "pc105" # 默认pc105
numlock = "true" # 默认关闭小键盘

[waybar]
tag_icons = ["", "", "󰃽", "", "", "󰙯", "", "󰎄", "", "", "", "󰊴", "", "", "󰆍", "", "", "", "", "󰘦", "", "󰗨"]
focused_style = "<span color='#bd93f9'>"
occupied_style = "<span color='#6C7086'>"
empty_style = "<span color='#313244'>"

# 可以使用wev来查询特定的按键对应的XKB名称
[keybindings.alt]
# 关闭聚焦窗口
q = { action = "close_focused" }
# 切换全屏
f = { action = "toggle_fullscreen" }
# 不同标签之间焦点切换
1 = { action = "focus", args = ["1"] }
2 = { action = "focus", args = ["2"] }
3 = { action = "focus", args = ["3"] }
4 = { action = "focus", args = ["4"] }
5 = { action = "focus", args = ["5"] }
6 = { action = "focus", args = ["6"] }
7 = { action = "focus", args = ["7"] }
8 = { action = "focus", args = ["8"] }
9 = { action = "focus", args = ["9"] }
0 = { action = "focus", args = ["31"] }
# 上下左右焦点切换，边界自动跨标签
n = { action = "focus", args = ["left"] }
i = { action = "focus", args = ["right"] }
u = { action = "focus", args = ["up"] }
e = { action = "focus", args = ["down"] }
# 启动软件
Return = { action = "spawn", args = ["kitty"] }
x = { action="spawn", args=["zen"] }
j = { action="shell", cmd='/usr/bin/grim -t ppm - | /usr/bin/satty --filename - --fullscreen' }
a = { action="spawn", args=["/usr/bin/fuzzel", "toggle"] }

# 允许不同的修饰符
[keybindings.super]
Return = { action = "spawn", args = ["ghostty"] }

# 多重修饰符示例：Alt + Shift
[keybindings.alt_shift]
# 重载配置(插拔显示器可能会导致waybar重叠，可以尝试重启waybar)
c = [
	{ action = "reload_configuration" },
	{ action = "spawn", args = ["pkill", "waybar"] },
	{ action = "shell", cmd = "sleep 0.1;waybar &" },
]
# 跨标签移动窗口
1 = { action = "move", args = ["1"] }
2 = { action = "move", args = ["2"] }
3 = { action = "move", args = ["3"] }
4 = { action = "move", args = ["4"] }
5 = { action = "move", args = ["5"] }
6 = { action = "move", args = ["6"] }
7 = { action = "move", args = ["7"] }
8 = { action = "move", args = ["8"] }
9 = { action = "move", args = ["9"] }
0 = { action = "move", args = ["10"] }
# 上下左右移动窗口，边界自动跨标签
n = { action = "move", args = ["left"] }
i = { action = "move", args = ["right"] }
u = { action = "move", args = ["up"] }
e = { action = "move", args = ["down"] }
j = { action="shell", cmd='/usr/bin/grim -g "$(/usr/bin/slurp < /dev/null)" - | /usr/bin/satty --filename -' }

# 如果想使用加号连接多重修饰符，需要加引号
[keybindings."super+shift"]
space = { action = "spawn", args = ["neovide"] }

# 没有修饰符的按键
[keybindings]
F1 = { action = "shell", cmd = "pactl set-sink-volume @DEFAULT_SINK@ -5%" }
[keybindings.none]
F2 = { action = "shell", cmd = "pactl set-sink-volume @DEFAULT_SINK@ +5%" }
# 音量控制，这里的wpctl是wireplumber附带的
XF86AudioRaiseVolume = { action = "shell", cmd = "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+" }
XF86AudioLowerVolume = { action = "shell", cmd = "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-" }
XF86AudioMute        = { action = "shell", cmd = "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle" }
XF86AudioMicMute     = { action = "shell", cmd = "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle" }
# 亮度控制
XF86MonBrightnessUp   = { action = "spawn", args = ["brightnessctl", "--class=backlight", "set", "+10%"] }
XF86MonBrightnessDown = { action = "spawn", args = ["brightnessctl", "--class=backlight", "set", "10%-"] }

# 多显示器之间切换焦点
[keybindings.alt_ctrl]
u = { action = "focus", args = ["up_output"] }
e = { action = "focus", args = ["down_output"] }
n = { action = "focus", args = ["left_output"] }
i = { action = "focus", args = ["right_output"] }

# 多显示器之间移动窗口
[keybindings.alt_ctrl_shift]
u = { action = "move", args = ["up_output"] }
e = { action = "move", args = ["down_output"] }
n = { action = "move", args = ["left_output"] }
i = { action = "move", args = ["right_output"] }

[output.HDMI-A-1]
focus_at_startup = "true" # 默认聚焦在这个显示器，确保只有一个显示器配置了这个选项，否则启动时的焦点可能是随机的
mode = "3840x2160@60.000" # 格式为"<width>x<height>" 或者 "<width>x<height>@<refresh rate>"，如果省略了刷新率，默认选择最高的刷新率。
scale = "2" # 整数或分数调整缩放，例如"1.25"。
transform = "normal" # 旋转显示，有效值为:normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
position={ x="1080", y="0" } # 输出在所有显示器坐标空间中的位置。未明确配置位置的显示器将默认position={ x="0", y="0" }实现镜像效果
# 注意：这里的宽度(或高度)必须是逻辑宽度（物理像素 / 缩放比例）。比如一个 4K 屏幕（3840 宽）如果设置了 2 倍缩放，它在排版空间里只占 1920 个单位。

[output.DP-1]
mode = "1920x1080@60.000"
scale = "1"
transform = "90"
position={ x="0", y="0" }

[window]
smart_borders = true      # 只有一个窗口时边框消失
[window.active]
border = { width = 2, color = "#bd93f9" }

