# ~/.config/river/rrwm.toml

[input.keyboard]
layout = "us"
variant = "colemak"
# options = "caps:swapescape" # 支持多个选项，用英文逗号隔开
model = "pc105" # 一般可选，默认 pc105

[keybindings.alt]
# 关闭聚焦窗口
q = { action = "close_focused" }
# 焦点切换：通过 args 指定方向
1 = { action = "focus", args = ["1"] }
2 = { action = "focus", args = ["2"] }
3 = { action = "focus", args = ["3"] }
4 = { action = "focus", args = ["4"] }
5 = { action = "focus", args = ["5"] }
6 = { action = "focus", args = ["6"] }
7 = { action = "focus", args = ["7"] }
8 = { action = "focus", args = ["8"] }
9 = { action = "focus", args = ["9"] }
0 = { action = "focus", args = ["10"] }

n = { action = "focus", args = ["left"] }
i = { action = "focus", args = ["right"] }
u = { action = "focus", args = ["up"] }
e = { action = "focus", args = ["down"] }

# 启动软件
Return = { action = "spawn", args = ["kitty"] }
x = { action="spawn", args=["chromium", "--proxy-server=http://127.0.0.1:7897", "https://aistudio.google.com"] }
j = { action="shell", cmd='/usr/bin/grim -g "$(/usr/bin/slurp < /dev/null)" - | /usr/bin/satty --filename -' }
a = { action="spawn", args=["/usr/bin/fuzzel", "toggle"] }

[keybindings.super]
1 = { action = "focus", args = ["1"] }
2 = { action = "focus", args = ["2"] }
3 = { action = "focus", args = ["3"] }
4 = { action = "focus", args = ["4"] }
5 = { action = "focus", args = ["5"] }
6 = { action = "focus", args = ["6"] }
7 = { action = "focus", args = ["7"] }
8 = { action = "focus", args = ["8"] }
9 = { action = "focus", args = ["9"] }
0 = { action = "focus", args = ["10"] }
Return = { action = "spawn", args = ["ghostty"] }

# 多重修饰符示例：Alt + Shift
[keybindings.alt_shift]
c = { action = "reload_configuration" }
1 = { action = "move", args = ["1"] }
2 = { action = "move", args = ["2"] }
3 = { action = "move", args = ["3"] }
4 = { action = "move", args = ["4"] }
5 = { action = "move", args = ["5"] }
6 = { action = "move", args = ["6"] }
7 = { action = "move", args = ["7"] }
8 = { action = "move", args = ["8"] }
9 = { action = "move", args = ["9"] }
0 = { action = "move", args = ["10"] }
n = { action = "move", args = ["left"] }
i = { action = "move", args = ["right"] }
u = { action = "move", args = ["up"] }
e = { action = "move", args = ["down"] }
Return = { action = "spawn", args = ["alacritty"] }
[keybindings."super+shift"]
Space = { action = "spawn", args = ["wezterm"] }

# 甚至没有修饰符的按键
[keybindings]
F1 = { action = "shell", cmd = "pactl set-sink-volume @DEFAULT_SINK@ +5%" }
[keybindings.none]
F2 = { action = "shell", cmd = "pactl set-sink-volume @DEFAULT_SINK@ -5%" }

[keybindings.alt_ctrl]
n = { action = "focus", args = ["left_output"] }
i = { action = "focus", args = ["right_output"] }

[keybindings.alt_ctrl_shift]
n = { action = "move", args = ["left_output"] }
i = { action = "move", args = ["right_output"] }

[output.HDMI-A-2]
focus-at-startup = "true" # 默认聚焦在这个显示器，如果多个显示器写了这个配置，写在前面的优先级更高
mode = "3840x2160@60.000" # 格式为"<width>x<height>" 或者 "<width>x<height>@<refresh rate>"，如果省略了刷新率，默认选择最高的刷新率。
scale = "2" # 允许使用整数或分数量表，例如，比例为150％或者1.25。
transform = "normal" # 允许逆时针旋转显示，有效值为:normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
position={ x="1280", y="0" } # 输出在所有显示器坐标空间中的位置。未明确配置位置的显示器将放置在所有已放置的显示器右侧。

[output.DP-1]
mode = "1920x1080@60.000"
scale = "2"
transform = "normal"
position={ x="0", y="0" }

